# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset (consider using a left join)

merge_df = pd.merge(student_data,school_data,on="school_name",how="left")
merge_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [2]:
# Calculate the Totals (Schools and Students)
total_schools=len(merge_df['School ID'].unique())
total_schools

15

In [3]:
total_students=len(merge_df['Student ID'].unique())
total_students

39170

In [4]:
# Calculate the Total Budget

total_budget=school_data['budget'].sum()
total_budget

24649428

In [5]:
# Calculate the Average Scores
avr_math_scores=merge_df['math_score'].mean()
avr_math_scores

78.98537145774827

In [6]:
avr_reading_scores=merge_df['reading_score'].mean()
avr_reading_scores

81.87784018381414

In [7]:
# Calculate the Percentage Pass Rates
st_passed_math=merge_df.loc[merge_df['math_score']>=70,'Student ID'].count()*100
st_passed_math

percentage_passing_math=st_passed_math/total_students
percentage_passing_math

74.9808526933878

In [8]:
st_passed_reading=merge_df.loc[merge_df['reading_score']>=70,'Student ID'].count()*100
st_passed_reading

percentage_passing_reading=st_passed_reading/total_students
percentage_passing_reading

85.80546336482001

In [9]:
# Minor Data Cleanup

percentage_overall_passing=(percentage_passing_math+percentage_passing_reading)/2
percentage_overall_passing

80.39315802910392

In [10]:
# Display the data frame

summary_df = pd.DataFrame(
                    {
                        "Total Schools": total_schools,
                        "Total Student": total_students,
                        "Total Budget": [total_budget],
                        "Average Math Score": avr_math_scores,
                        "Average Reading Score": avr_reading_scores,
                        "% Passing Math": percentage_passing_math,
                        "% Passing Reading": percentage_passing_reading,
                        "% Overall Passing": percentage_overall_passing
                    }
                )

summary_df

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

In [11]:
# Determine the School Type
school_type=merge_df['type'].unique()
school_type

array(['District', 'Charter'], dtype=object)

In [12]:
# Calculate the total student count
total_students_byschool=merge_df.groupby(['school_name']).count()
total_students_byschool['Student ID']

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [13]:
# Calculate the total school budget
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

total_budget_byschool=merge_df.groupby(['school_name']).mean()['budget']
total_budget_byschool.head(15)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
# Calculate the per capita spending

per_capitaspending=total_budget_byschool/total_students_byschool['Student ID']
per_capitaspending.head(15)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
# Calculate the average Math test scores
average_math_score_byschool=merge_df.groupby(['school_name']).mean()
average_math_score_byschool['math_score']

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Calculate the average Reading test scores
average_reading_score_byschool=merge_df.groupby(['school_name']).mean()
average_reading_score_byschool['reading_score']

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Calculate the passing scores by creating a filtered data frame
Passed_math_filter=merge_df.loc[merge_df['math_score']>=70,:]

Math_passed_students_byschool=Passed_math_filter.groupby(['school_name']).count()
Math_passed_students_byschool['Student ID']

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [18]:
#% Passing Math

percent_passed_math_byschool=Math_passed_students_byschool['Student ID']/(total_students_byschool['Student ID'])*100
percent_passed_math_byschool

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [19]:
# Calculate the Reading passing scores by creating a filtered data frame

Passed_reading_filter=merge_df.loc[merge_df['reading_score']>=70,:]

Reading_passed_students_byschool=Passed_reading_filter.groupby(['school_name']).count()
Reading_passed_students_byschool['Student ID']

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [20]:
# % Passing Reading
percent_passed_reading_byschool=Reading_passed_students_byschool['Student ID']/total_students_byschool['Student ID']*100
percent_passed_reading_byschool

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [21]:
# % Overall Passing
Overall_Passing_Rate=(percent_passed_math_byschool+percent_passed_reading_byschool)/2
Overall_Passing_Rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Student ID, dtype: float64

In [22]:
# Convert to data frame

summary_byschool_df=pd.DataFrame(
                    {
                        "Best Bitcoin Open": [bitcoin_open],
                        "Best Bitcoin Close": [bitcoin_close],
                        "Total Bitcoin Volume": [str(bitcoin_volume)+" billion"],
                        "Best Dash Open": [dash_open],
                        "Best Dash Close": [dash_close],
                        "Total Dash Volume": [str(dash_volume)+" billion"]
                    }
                )

# Minor data munging

# Display the data frame

summary_byschool_df

NameError: name 'bitcoin_open' is not defined

## Top Performing Schools (By Passing Rate)

In [ ]:
# Sort and show top five schools

## Bottom Performing Schools (By Passing Rate)

In [ ]:
# Sort and show bottom five schools

## Math Scores by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

## Reading Score by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the bins -- choose any set of bins you would like, but see below for testing bins
# to test, set your bins as follows: [0, 585, 615, 645, 675]
# ALSO -- Note that the values for `% Passing Math`, `% Passing Reading` and `% Overall Passing Rate`
# were computed using averages of averages -- your results may vary if you use weighted averages 

# Categorize the spending based on the bins

# Assemble into data frame

# Minor data munging

# Display results

## Scores by School Size

In [ ]:
# Establish the bins 

# Categorize the spending based on the bins

# Calculate the scores based on bins

# Assemble into data frame

# Minor data munging

# Display results

## Scores by School Type

In [ ]:
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing Rate

# Assemble into data frame

# Minor data munging

# Display results